<!-- -------Esto se pone en el template creado por mi contador----- -->

<!-- <h1>{{ titulo }}</h1> -->

<!-- <button (click)="acumularBase(+5)">+5</button> -->
<!-- <h1>La base es: <strong> {{base}} </strong></h1> -->
<!-- <button (click)=" acumularBase(-5) ">-5</button> -->

<!-- <button (click)="acumular(base)">+{{base}}</button> -->

<!-- <span> {{ numero }} </span> -->

<!-- <button (click)=" acumular(-base) ">-{{base}}</button> -->



<!--<app-contador></app-contador>--> <!--Esto se ha de poner en app.modulo.ts para que funcione-->
<app-contador></app-contador>
<!-- <app-heroe></app-heroe> -->
<!-- <app-listado></app-listado> -->


